<h1> Add Y'R Fucking Canyon, Yooo! </h1>
<br>
<form action='/canyon/create' method='post'>
  <input type="text" name="name" placeholder='Name of UR fave fuckin canyon' required>
  <input type="url" name="image" placeholder='A sweet fucking pic, bro' required>
  <textarea name="description" placeholder='Can you LITERALLY even describe it?!?!' required></textarea>
  <button type='submit'> ADD THIS FUCKING CANYON!</button>
</form>
