<h1> Add Y'R Fucking Canyon, Yooo! </h1>
<br>
<form action='/create' method='post'>
  <input type="text" name="name" placeholder='Name of UR fave fuckin canyon'>
  <input type="url" name="image" placeholder='A sweet fucking pic, bro'>
  <textarea name="description" placeholder='Can you LITERALLY even describe it?!?!'></textarea>
  <button type='submit'> ADD THIS FUCKING CANYON!</button>
</form>
