<h1>Canyons Fuck Yeeee!</h1>
<a class='yuge' href="/canyon/create"> Add Y'R fucking canyon, yo!</a>

<ul>
{{#each canyons}}
<li>
  <a class='list' href="canyon/{{this.id}}">{{this.name}}</a>
  <br>
  <img class='canyons_biatch' src={{this.image}} alt="image" href="canyon/{{this.id}}">
  <br>

</li>
{{/each}}
</ul>
